<nav class="nav bg-dark">
  <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/student-list']">Student List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/register-student']">Add Student</a>
  </li>
</nav>
<router-outlet></router-outlet>